.container {
  margin: 15px 30px;
  max-width: 960px;
  min-width: 420px;
  display: inline-block;
}

.header {
  font-size: x-large;
  font-weight: bold;
}

.byLine {
  font-size: small;
  margin-bottom: 16px;
}
