/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

a {
  color: goldenrod;
  text-decoration: none;
}

a:visited {
  color: goldenrod;
  text-decoration: none;
}

router-outlet+* {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-shrink: 1;
}
